{{!
Copyright 2024 vkcelik

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
documentation files (the “Software”), to deal in the Software without restriction, including without limitation the
rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions
of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
}}
{{#resume.basics}}
<div id='nameBlock' class='largeFont'>
	<span class='name'>
		{{name}}{{#if label}},{{/if}}
	</span>
	{{#if label}}
	<span class='label'>{{label}}</span>
	{{/if}}
</div>
<div id='basicsBlock' class='smallFont'>
	<div class='contactBlock'>
		{{#if email}}
		<span class='email'>{{email}}</span>
		{{/if}}
		{{#if phone}}
		<span class='divider'>|</span>
		<span class='phone'>{{phone}}</span>
		{{/if}}
		{{#location}}
		<span class='divider'>|</span>
		<span class='address'>
			{{#if city}}{{city}}{{/if}}{{#if region}}, {{region}}{{/if}}{{#if countryCode}}, {{countryCode}}{{/if}}
		</span>
		{{/location}}
	</div>
	{{#if profiles.length}}
	<div id='profilesBlock'>
		{{#each profiles}}
		{{#if url}}
		<span class='url'>
			<b>{{network}}:</b> <a href='{{url}}'>{{url}}</a>
		</span>
		{{#unless @last}}<span class='divider'>|</span>{{/unless}}
		{{/if}}
		{{/each}}
	</div>
	{{/if}}
</div>
{{/resume.basics}}

{{#if resume.basics.summary}}
<div class='sectionLine'></div>
<div id='summaryBlock' class="sectionBlock">
	<div class='sectionName'>
		<span>SUMMARY</span>
	</div>
	<div class='sectionContent'>
		<span>{{resume.basics.summary}}</span>
	</div>
</div>
{{/if}}